/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans:300,400');

:root {
  --color1: #6B59FF;
  --color2: #CD84E8;
  --color3: #FFF0F5;
  --color4: #E85B2F;
  --color5: #FFCB84;
  --angle-height: 10vw;
  --angle-dir: left;
  --next-color: var(--color1);
  --sans: 'Open Sans', Sans;
}

h1,h2,h3 {
  font-family: Comfortaa, fantasy;
  font-display: optional;
  font-weight: 600;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Sans;
  font-size: 18px;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

header.angle {
  font-size: 3vw;
  background-color: var(--color3);
  color: var(--color4);
  display: flex !important;
  display: grid !important;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content;
  padding: 0 1em;
}

header > h1 {
  display: inline-block;
  min-width: -moz-max-content;
  min-width: max-content;
}

header > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom right;
  max-height: 80vh;
  align-self: flex-end;
}


body {
  background-color: var(--color2);
}

section {
  color: var(--color3);
}

section > * {
  max-width: 1024px;
  margin: 0.5em auto; 
}

section:nth-of-type(5n+1) {
  background-color: var(--color1);
  --next-color: var(--color4);
}

section:nth-of-type(5n+2) {
  background-color: var(--color4);
  --next-color: var(--color3);
  color: black;
  font-size: 0.85em;
}

section:nth-of-type(5n+3) {
  background-color: var(--color3);
  --next-color: var(--color2);
  color: black;
  font-size: 0.85em;
}

section:nth-of-type(5n+4) {
  background-color: var(--color2);
  --next-color: var(--color5);
  color: black;
  font-size: 0.85em;
}

section:nth-of-type(5n+5) {
  background-color: var(--color5);
  --next-color: var(--color1);
  color: black;
  font-size: 0.9em;
}

header:nth-child(odd), section:nth-child(odd) {
  --angle-dir: right;
}

header:nth-child(odd) > h2:first-child, section:nth-child(odd) > h2:first-child {
  margin-top: calc(-0.5 * var(--angle-height));
}

header:nth-child(even), section:nth-child(even) {
  --angle-dir: left;
}

section:last-of-type {
  --next-color: var(--color5);
}

a, a:visited, a:active {
  color: inherit;
}

footer {
  background-color: var(--color5);
  padding: 1rem;
}

footer > p {
  max-width: 1024px;
  margin: auto; 
}

.big-t {
  font-size: 1.5em;
  line-height: 0.66em;
}

.angle {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 1em var(--angle-height) 1em;
}

.angle:after {
  content: '';
  display: block;
  height: var(--angle-height);
  background: linear-gradient(to bottom var(--angle-dir), transparent 50%, var(--next-color) 50.5%);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

dt {
  font-size: 1.2em;
  font-weight: bold;
  clear: both;
  margin-top: 1em;
}

iframe {
  max-width: 100%;
  float: left;
  margin-right: 1em;
}

dd > p::before {
  content: "";
  width: 10em;
  display: block;
  overflow: hidden;
}